<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Stephen's Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Stephen Cowan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resume.html">Resume</a>
          </li>
        </ul>
        <img src="..\resources\img\Denver-Broncos-emblem.jpg" alt="Denver Broncos Logo" width="50px" />
        </form>
      </div>
    </div>
  </nav>
  <hr style="color: white;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <img src="..\resources\img\Lils.JPEG" alt="Stephen and his girlfriend, Lily" width="400px" />
      </div>
      <div class="col-sm" style="background-color: gray;">
        <h1>Me and My Girlfriend Lily</h1>
        <p>
          Hello! My name is Stephen Cowan. I am a computer science major at the University of Colorado - Boulder.
          I am from Colorado Springs, Colorado.
          That was where I lived for the first 17 and a half years until I started college. I was born in 1999 at
          Memorial Hospital.
        </p>
        <p>
          The picture that you can see on the left is of my and my girlfriend Lily. It was taken this last summer in
          Broomfield. This was
          when we took her stepmom Karin's dogs on a walk. Griffin is on the left and Jessie on the right.
        </p>
      </div>
    </div>
  </div>
  <hr style="color: white;">
  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="https://www.facebook.com/stephen.cowan.7773/"><img src="..\resources\img\facebook.png"
            alt="facebook profile" style="width:75px;"></a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/stephencowan0/"><img src="..\resources\img\instagram.png"
            alt="instagram profile" style="width:45px;"></a>
        <!-- Github -->
        <<a href="https://github.com/stephencowan0"><img src="..\resources\img\github.png" alt="github profile"
            style="width:50px;height:50px;"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Stephen Cowan's Personal Website
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>