<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Projects - Stephen's Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Stephen Cowan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hobbies.html">Hobbies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resume.html">Resume</a>
          </li>
        </ul>
        <img src="..\resources\img\Denver-Broncos-emblem.jpg" alt="Denver Broncos Logo" width="50px" />
        </form>
      </div>
    </div>
  </nav>
  <hr style="color: white;">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..\resources\img\AI_Art_Game.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: black;">
          <h5>AI ART Game</h5>
          <p>A group project I did in college. The user plays a game in which they must guess if an image is AI
            generated or made by a human being. The goal is to get as many guesses correct in a row as possible.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\resources\img\Show_Search.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: black;">
          <h5>TV Show Search</h5>
          <p>A project for CSCI 3308, using the TV Maze API to show information about a show the user searches for.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\resources\img\CSCI-3150.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="background-color: black;">
          <h5>CSCI 3150 Final</h5>
          <p>A brief redesign of a webstite that I had for a final project in CSCI 3150, during summer 2022.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <hr style="color: white;">
  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="https://www.facebook.com/stephen.cowan.7773/"><img src="..\resources\img\facebook.png"
            alt="facebook profile" style="width:75px;"></a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/stephencowan0/"><img src="..\resources\img\instagram.png"
            alt="instagram profile" style="width:45px;"></a>
        <!-- Github -->
        <<a href="https://github.com/stephencowan0"><img src="..\resources\img\github.png" alt="github profile"
            style="width:50px;height:50px;"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Stephen Cowan's Personal Website
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>