<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume - Stephen's Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="resume.html">Resume</a>
              </li>
            </ul>
            <img
            src="..\resources\img\Denver-Broncos-emblem.jpg"
            alt="Denver Broncos Logo"
            width="50px"
          />
            </form>
          </div>
        </div>
      </nav>
      <hr style="color: white;">
      <h1>Stephen Cowan</h1>
      
    <hr>
      <h2>Education:</h2>
      <table class="uk-table .uk-table-striped" style="width: 100%;">
        <thead>
            <tr style="width: 60%;">
                <th class="uk-table-expand">Education</th>
                <th class="uk-table-expand">GPA</th>
                <th class="uk-width-small">Years</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: tan;">
                <td>Harrison High School</td>
                <td>3.8</td>
                <td>2012-2018</td>
            </tr>
            <tr style="background-color: tan;">
                <td>University of Colorado - Boulder</td>
                <td>2.431</td>
                <td>2016-2022</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h2>Jobs:</h2>
    <table class="uk-table .uk-table-striped" style="width:100%;">
      <thead>
          <tr style="width:60%">
              <th class="uk-table-expand">Company</th>
              <th class="uk-table-expand">Position</th>
              <th class="uk-width-small">When</th>
          </tr>
      </thead>
      <tbody>
          <tr style="background-color: tan;">
              <td>Univeristy of Colorado Boulder Bookstore</td>
              <td>Technology Desk Associate</td>
              <td>January 2017 - February 2017</td>
          </tr>
          <tr style="background-color: tan;">
              <td>Xencom Facility Management</td>
              <td>Nightime Custodian</td>
              <td>Summer 2017</td>
          </tr>
          <tr style="background-color: tan;">
            <td>Staff Pro Security</td>
            <td>Event Security</td>
            <td>October 2017 - May 2018</td>
          <tr style="background-color: tan;">
            <td>King Soopers</td>
            <td>Courtesy Clerk/Cashier</td>
            <td>March 2019 - July 2022</td>
        </tr>
      </tbody>
  </table>

      <hr style="color: white;">
      <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a href="https://www.facebook.com/stephen.cowan.7773/"><img src="..\resources\img\facebook.png"
              alt="facebook profile" style="width:75px;"></a>
  
            <!-- Instagram -->
            <a href="https://www.instagram.com/stephencowan0/"><img src="..\resources\img\instagram.png"
              alt="instagram profile" style="width:45px;"></a>
            <!-- Github -->
            <<a href="https://github.com/stephencowan0"><img src="..\resources\img\github.png"
              alt="github profile" style="width:50px;height:50px;"></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Stephen Cowan's Personal Website
        </div>
        <!-- Copyright -->
      </footer>
  </body>
</html>